<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-light bg-light col-12" style="">
            <a class="navbar-brand">Open Weather API Demo</a>
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  [(ngModel)]="cityName">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="cityChange($event)">Search</button>
            </div>
            
        </nav>
        <div class="col-md-8">
            <app-output-graph></app-output-graph>
        </div>
        
        <div class="col-md-4">
            <div class="widget">
                <div class="left-panel panel">
                    <div class="date">
                        <!-- Monday, 20 Aug 2018 -->
                        {{date | date:'EEEE, MMMM d, y'}}
                    </div>
                    <div class="city">
                        <!-- Mumbai -->
                        {{data.name}}
                    </div>
                    <div class="temp">
                       <img src="https://s5.postimg.cc/yzcm7htyb/image.png" alt="" width="60">
                       {{data.main.temp-275 | number:'1.0-0'}}&deg;
                    </div>
                </div>
                <div class="right-panel panel">
                    <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
                </div>
            </div>

            <!-- <div class="col-4">
            <ul class="list-group text-uppercase">
                <li class="list-group-item d-flex justify-content-between align-items-center">Longitude: <span class="badge badge-primary badge-pill">{{data.coord.lon}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Latitude: <span class="badge badge-primary badge-pill">{{data.coord.lat}}</span></li>
            </ul>
        </div> -->
        <div class="col-md-12 pl-0 pr-0">

            <ul class="list-group text-uppercase">
                <li class="list-group-item d-flex justify-content-between align-items-center">feels like <span class="badge badge-primary badge-pill">{{data.main.feels_like}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">humidity <span class="badge badge-primary badge-pill">{{data.main.humidity}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">pressure<span class="badge badge-primary badge-pill">{{data.main.pressure}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Temparature<span class="badge badge-primary badge-pill">{{data.main.temp}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">maximum Temparature<span class="badge badge-primary badge-pill">{{data.main.temp_max}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">minimum Temparature<span class="badge badge-primary badge-pill">{{data.main.temp_min}}</span></li>
            </ul>
        
        </div>
        </div>
        
        <div class="col-4">
            <!-- {{data.cluods}} -->
        </div>
    </div>
</div>
